svg {
    position: absolute;
    width: 21px;
    color: #ADBCCE;
    top: 28%;
    right: 14px;
    z-index: 2;
    fill: currentColor;
    transition: transform 0.1s;
}

// .select-box {
//     position: relative;
//     display: block;
//     width: 100%;
//     font-size: 18px;
//     color: #60666d;
//     // margin-top: 21%;
// }
// .select-box__current {
//     position: relative;
//     cursor: pointer;
//     outline: none;
// }
// .select-box__current:focus+.select-box__list {
//     opacity: 1;
//     -webkit-animation-name: none;
//     animation-name: none;
// }
// .select-box__current:focus+.select-box__list .select-box__option {
//     cursor: pointer;
// }
// .select-box__current:focus .select-box__icon {
//     -webkit-transform: translateY(-50%) rotate(180deg);
//     transform: translateY(-50%) rotate(180deg);
// }
// .select-box__icon {
//     position: absolute;
//     top: 50%;
//     right: 15px;
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
//     width: 20px;
//     opacity: 0.3;
//     transition: 0.2s ease;
// }
// .select-box__value {
//     display: flex;
// }
// .select-box__input {
//     display: none;
// }
// .select-box__input:checked+.select-box__input-text {
//     display: block;
// }
// .select-box__input-text {
//     border: 1px solid #CACFE7;
//     border-radius: 3px;
//     color: #ADBCCE;
//     display: none;
//     width: 100%;
//     margin: 0;
//     padding: 5px 5px;
//     background-color: none;
// }
// .select-box__list {
//     position: absolute;
//     width: 100%;
//     padding: 0;
//     list-style: none;
//     opacity: 0;
//     -webkit-animation-name: HideList;
//     animation-name: HideList;
//     -webkit-animation-duration: 0.5s;
//     animation-duration: 0.5s;
//     -webkit-animation-delay: 0.5s;
//     animation-delay: 0.5s;
//     -webkit-animation-fill-mode: forwards;
//     animation-fill-mode: forwards;
//     -webkit-animation-timing-function: step-start;
//     animation-timing-function: step-start;
//     box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
// }
// .select-box__option {
//     display: block;
//     padding: 5px 5px;
//     background-color: #fff;
// }
// .select-box__option:hover,
// .select-box__option:focus {
//     color: #ADBCCE;
//     background-color: #DDEAF3;
//     border-radius: 10px;
// }
// @-webkit-keyframes HideList {
//     from {
//         -webkit-transform: scaleY(1);
//         transform: scaleY(1);
//     }
//     to {
//         -webkit-transform: scaleY(0);
//         transform: scaleY(0);
//     }
// }
// @keyframes HideList {
//     from {
//         -webkit-transform: scaleY(1);
//         transform: scaleY(1);
//     }
//     to {
//         -webkit-transform: scaleY(0);
//         transform: scaleY(0);
//     }
// }
// // @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
// // * {
// //     margin: 0;
// //     padding: 0;
// //     font-family: 'Open Sans', sans-serif;
// //     box-sizing: border-box;
// // }
// // body {
// //     width: 100vw;
// //     height: 100vh;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     flex-direction: column;
// //     overflow-x: hidden;
// // }
// // p {
// //     width: 300px;
// //     text-align: left;
// //     margin-bottom: 30px;
// // }
// // .options {
// //     cursor: pointer;
// //     width: 300px;
// //     min-height: 60px;
// //     max-height: 300px;
// //     border-radius: 15px;
// //     background-color: rgb(250, 250, 250);
// //     box-shadow: 2px 4px 8px #c5c5c5;
// //     transition: all 300ms;
// // }
// // .options.opened {
// //     overflow-y: scroll;
// // }
// // .option {
// //     width: 100%;
// //     height: 60px;
// //     display: flex;
// //     justify-content: space-between;
// //     align-items: center;
// //     padding: 0 15px;
// //     transition: all 300ms;
// // }
// // .option:nth-child(1) {
// //     border-radius: 15px;
// // }
// // .option:hover {
// //     background-color: brown;
// //     color: white;
// // }
// // .button {
// //     cursor: pointer;
// //     margin-top: 30px;
// //     width: 300px;
// //     height: 60px;
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;
// //     background-color: rgb(184, 255, 112);
// //     color: #212121;
// //     font-weight: 600;
// //     box-shadow: 2px 4px 8px rgba(45, 87, 5, 0.247);
// // }
// // .message {
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;
// //     width: 255px;
// //     height: 60px;
// //     position: absolute;
// //     right: -255px;
// //     bottom: 5vh;
// //     animation: showMessage ease-out 5s;
// // }
// // .message.success {
// //     background-color: rgb(184, 255, 112);
// // }
// // .message.danger {
// //     background-color: crimson;
// // }
// // @keyframes showMessage {
// //     0%,
// //     100% {
// //         right: -255px
// //     }
// //     10% {
// //         right: 0
// //     }
// //     90% {
// //         right: 0;
// //     }
// // }
.select {
    display: flex;
    flex-direction: column;
    position: relative;
    // width: 250px;
    // border: 1px solid !important;
    border-radius: 8px;
    color: #ADBCCE;
    height: 40px;
}

.option {
    // padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: #ffff;
    // border-top: #222 solid 1px;
    position: absolute;
    top: 0;
    border: 1px solid #CACFE7;
    padding-left: 15px;
    border-radius: 5px;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.option:hover {
    background: #DDEAF3;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

input:checked+label {
    order: 1;
    z-index: 2;
    background: rgb(255, 254, 254);
    position: relative;
}

// input:checked+label:after {
//     content: '';
//     width: 0;
//     height: 0;
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
//     border-top: 5px solid white;
//     position: absolute;
//     right: 10px;
//     top: calc(50% - 2.5px);
//     pointer-events: none;
//     z-index: 3;
// }
// input:checked+label:before {
//     position: absolute;
//     right: 0;
//     height: 40px;
//     width: 40px;
//     content: '';
//     background: #666;
//     border: 1px solid;
// }