<!-- <div class="dropdown mt-5">

    <button></button>


    <div class="options">
        <input id="radio-africa" type="radio" name="region" value="africa" checked>
        <label>Africa</label>

        <input id="radio-asia" type="radio" name="region" value="asia">
        <label style="--index: 2" for="radio-asia">Asia</label>

        <input id="radio-australia" type="radio" name="region" value="australia">
        <label style="--index: 3" for="radio-australia">Australia</label>

        <input id="radio-europe" type="radio" name="region" value="europe">
        <label style="--index: 4" for="radio-europe">Europe</label>

        <input id="radio-namerica" type="radio" name="region" value="namerica">
        <label style="--index: 5" for="radio-namerica">North America</label>

        <input id="radio-samerica" type="radio" name="region" value="samerica">
        <label style="--index: 6" for="radio-samerica">South America</label>

        <input id="radio-antarctica" type="radio" name="region" value="antarctica">
        <label style="--index: 7" for="radio-antarctica">Antarctica</label>
    </div>

    <svg viewBox="0 0 24 24">
                  <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                </svg>

</div> -->
<!-- 
<div class="dropdown mt-5">
    <div class="options">

        <label>Country</label>
        <select multipl formControlName="country" class="form-control control_form  ">
    <option style="--index: 1" for="radio-africa" class="Options"></option>
    <option style="--index: 2" for="radio-africa" class="Options">Mr</option>
    <option style="--index: 3" for="radio-africa" class="Options">Mrs</option>
    <option style="--index: 4" for="radio-africa" class="Options">Miss</option>
    <option style="--index: 5" for="radio-africa" class="Options"value="3">Ms</option>
</select>
        <svg viewBox="0 0 24 24">
    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
  </svg> -->
<!-- </div> -->
<!-- <select multiple>
        <option value="1">one</option>
        <option value="2" selected>two</option>
        <option value="3">three</option>
      </select> -->

<!-- </div> -->
<!-- <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
        <div *ngIf="f.country.errors.required">country is required</div>
    </div> -->


<!-- <div class="select-box">

    <div class="select-box__current" tabindex="1">
        <div class="select-box__value">
            <input class="select-box__input " type="radio" id="0" value="1" name="Ben" checked="checked" />
            <p class="select-box__input-text">Cream</p>
        </div>
        <div class="select-box__value">
            <input class="select-box__input" type="radio" id="1" value="2" name="Ben" checked="checked" />
            <p class="select-box__input-text">Cheese</p>
        </div>
        <div class="select-box__value">
            <input class="select-box__input" type="radio" id="2" value="3" name="Ben" checked="checked" />
            <p class="select-box__input-text">Milk</p>
        </div>
        <div class="select-box__value">
            <input class="select-box__input" type="radio" id="3" value="4" name="Ben" checked="checked" />
            <p class="select-box__input-text">Honey</p>
        </div>
        <div class="select-box__value">
            <input class="select-box__input" type="radio" id="4" value="5" name="Ben" checked="checked" />
            <p class="select-box__input-text">Toast</p>
        </div> <svg viewBox="0 0 24 24">
            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
          </svg>
    </div>
    <ul class="select-box__list">
        <li>
            <label class="select-box__option" for="0" aria-hidden="aria-hidden">Cream</label>
        </li>
        <li>
            <label class="select-box__option" for="1" aria-hidden="aria-hidden">Cheese</label>
        </li>
        <li>
            <label class="select-box__option" for="2" aria-hidden="aria-hidden">Milk</label>
        </li>


    </ul>
</div> -->

<div class="select" tabindex="1">
    <input class="selectopt" name="test" type="radio" id="opt1" checked>
    <label for="opt1" class="option">Recorded</label>
    <input class="selectopt" name="test" type="radio" id="opt2">
    <label for="opt2" class="option">Interactive</label>
    <!-- <input class="selectopt" name="test" type="radio" id="opt3">
    <label for="opt3" class="option">Grapefruit</label> -->
    <!---- <input class="selectopt" name="test" type="radio" id="opt4">
    <label for="opt4" class="option">Bananas</label>
    <input class="selectopt" name="test" type="radio" id="opt5">
    <label for="opt5" class="option">Watermelon</label> -->
    <svg viewBox="0 0 24 24">
        <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
      </svg>
</div>

<!-- <p>Select your city: </p>
<div class="options" id="options">
    <div class="hide-option option" id="hide-option">Select any option.. <i class="fa fa-caret-down"></i></div>
</div> -->