<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            
            <div class="d-flex p-1  justify-content-between">
                <h4 class="Darshan_head pt-3">Refund</h4>
                <!-- <app-modelopen class="mt-3"></app-modelopen> -->
                <!-- <app-add-meditation></app-add-meditation> -->
                <!-- (click)="openModal()" -->
                <!-- <button class="btn  mb-3  mt-2 creat" routerLink="../add-product">Add Product</button> -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="card-body">


                                    <table class="table tab table table-hover" >

                                        <thead class="headline">
                                            <tr>
                                       
                                                <th class="td-sz" scope="col">user Id</th>
                                                <th class="td-sz" scope="col">order Id</th>
                                                <th class="td-sz" scope="col">description </th>
                                               


                                                <th class="justify-content-end" scope="col">Action</th>

                                            </tr>
                                        </thead>


                                        <tbody >
                                            <tr *ngFor="let item of list ">
                                                <td class="td-sz" scope="col">{{item.userId}}
                                               </td>
                                                
                                                <td class="td-sz " scope="col"> {{item.orderId}}</td>
                                                <td class="td-sz File" scope="col">{{item.description}} </td>
                                                <td class="td-sz edt">
                                                    <div class="justify-content-between" style="margin-top: 5%;">
                                                        <a type="button" class="dropbtn" data-toggle="modal"
                                                            data-target="#staticBackdrop" style="margin-right:7px ;">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="#myModal" class="dropbtn mt-2" data-toggle="modal"><i
                                                                class="fa fa-trash-o" aria-hidden="true"></i></a>

                                                    </div>
                                                </td>
                                            </tr>






                                        </tbody>
                                    </table>


                                      <!-- Modal -->
                                      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog p-3">
                                          <div class="modal-content">
                                            <div class="modal-header header_Modal">
                                              <h5 class="modal-title " id="staticBackdropLabel">Edit Refund
                                            </h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="text-light">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="RefundForm" (ngSubmit)="onSubmit()">
                                                    <div class="row form-row mt-3">
                                                        <div class="col form-group">
                                                            <label> User Id</label>
                                                            <input type="text" formControlName="User" placeholder=" User"
                                                                class="form-control control_form "
                                                                [ngClass]="{ 'is-invalid': submitted && f.User.errors }" />
                                                            <div *ngIf="submitted && f.User.errors" class="invalid-feedback">
                                                                <div *ngIf="f.User.errors.required"> User id is required</div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    <div class="row form-row mt-3">
                                                        <div class="col-md-6 form-group">
                                                            <label>order Id</label>
                                                            <input type="text" formControlName="orderId" placeholder="orderId Name"
                                                                class="form-control control_form "
                                                                [ngClass]="{ 'is-invalid': submitted && f.orderId.errors }" />
                                                            <div *ngIf="submitted && f.orderId.errors" class="invalid-feedback">
                                                                <div *ngIf="f.orderId.errors.required">order Id Name is required</div>
                                                            </div>
                                                        </div>
                                                      
                                                     
                                                        <!-- <div class="col-md-5 form-group">
                                                            
                                                            <label>Date</label>
                                                            <input type="date" formControlName="Date" class="form-control control_form "
                                                                [ngClass]="{ 'is-invalid': submitted && f.Date.errors }" />
                                                            <div *ngIf="submitted && f.Date.errors" class="invalid-feedback">
                                                                <div *ngIf="f.Date.errors.required">Date is required</div>
                                                            </div>
                                                        </div> -->
                                                  
                                                    </div>
                                                    <div class="row form-row mt-3">
                                                        <div class="col">
                                                            <label>Description</label>
                                                            <textarea id="story" name="story" class="Str" rows="5"
                                                            cols="120" formControlName="description"
                                                            class="form-control control_form  Long_description"
                                                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                                                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                                                <div *ngIf="f.description.errors.required">Description is required</div>
                                                            </div>
                                                        </div>
                                                       
                                                     
                                                    </div>
                                                    
                                                   
                                                   
                                                   
                                               
                                                    <div class="modal-footer">
                                                      
                                                        <button class="btn Save_re sav2" type="reset" (click)="onReset()">Cancel</button>
                                                        <button class="btn Save_re mr-1">Save</button>
                                                    
                                                    
                                                    </div>
                                             
                                                    
                                                </form>
                                            </div>
                                          
                                          </div>
                                        </div>
                                      </div>

                                    <!-- Modal HTML -->
                                    <div id="myModal" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <div class="icon-box">
                                                        <i class="material-icons">&#xE5CD;</i>
                                                    </div>
                                                    <h4 class="modal-title w-100">Are you sure?</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really want to delete these records? This process cannot
                                                        be undone.</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>