<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            
            <div class="d-flex p-1  justify-content-between">
                <h4 class="Darshan_head pt-3">Monthly Subscripton</h4>
                <!-- <app-modelopen class="mt-3"></app-modelopen> -->
                <!-- <app-add-meditation></app-add-meditation> -->
                <!-- (click)="openModal()" -->
                <button class="btn  mb-3  mt-2 creat" routerLink="../add-mathly">Add Subscripton</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="card-body">


                             
                                    <table class="table tab table table-hover">

                                        <thead class="headline">
                                            <tr>
                                                <th class="td-sz" scope="col"> Phone</th>
                                               
                                                <th class="td-sz" scope="col">Milk</th>
                                                <th class="td-sz" scope="col">Costumer Number</th>
                                                <th class="td-sz" scope="col">Phone Number</th>
                                                <th class="td-sz" scope="col"> Email Id </th>
                                                <th class="td-sz" scope="col">Address</th>
                                                <!-- <th class="td-sz" scope="col">Delivery Frequency</th> -->
                                                <th class="td-sz" scope="col">Delivery Person</th>
                                                <th class="justify-content-end" scope="col">Status</th>
                                                <th class="justify-content-end" scope="col">Action</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            <tr>
                                                <td class="td-sz" scope="col">-22/00006</td>
                                              
                                                <td class="td-sz" scope="col">
                                                   A1 Milk
                                                  </td>
                                                <td class="td-sz" scope="col">Pushkaraj Patil</td>
                                               
                                                <td class="td-sz " scope="col">9911002233</td>
                                             
                                              
                                                <td class="td-sz " scope="col">pushkarajpatil@gmail.com</td>
                                                
                                                <td class="td-sz " scope="col">Shivani Recidency</td>
                                                <!-- <td class="td-sz " scope="col">DD</td> -->
                                                <td class="td-sz " scope="col">Tirupati</td>
                                                <td class="td-sz  " scope="col"><a class="de-btn de-2">Active</a></td>
                                              
                                                <td class="td-sz edt">

                                                    <div class="d-flex  justify-content-between mt-3"  >
                                                      
                                                        <a type="button" class="dropbtn  " data-toggle="modal" data-target="#staticBackdrop"  style="margin-right:10px ;">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                          <a href="#myModal" class="dropbtn" data-toggle="modal"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                         
                                                    </div>
                                                </td>
                                            </tr>
                                          
                                        
                                         
                                            
                                         
                                        </tbody>
                                    </table>

                               <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header  header_Modal">
          <h5 class="modal-title" id="staticBackdropLabel">Monthly Subscripton
        </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-light">&times;</span>
          </button>
        </div>
     <div class="modal-body">
        

        <form [formGroup]="EditmonthlyForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Milk</label>
                    <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <option value=""></option>
                        <option value="Mr">A1</option>
                        <option value="Mrs">A2</option>
                       
                    </select>
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                </div>
                <div class="form-row">
                <div class="form-group col-6">
                    <label>Invoice</label>
                    <input type="text" formControlName="Invoice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Invoice.errors }" />
                    <div *ngIf="submitted && f.Invoice.errors" class="invalid-feedback">
                        <div *ngIf="f.Invoice.errors.required">Invoice is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Phone No.</label>
                    <input type="text" formControlName="Phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" />
                    <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                        <div *ngIf="f.Phone.errors.required">Phone is required</div>
                    </div>
                </div>
            </div>
         
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Address</label>
                    <input type="text" formControlName="Address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" />
                    <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                        <div *ngIf="f.Address.errors.required">Address is required</div>
                       
                    </div>
                </div>
                <div class="row form-row mt-5">
                    <div class="col-6 form-group">
                        <label>Delivery Frequency</label>
                        <input type="text" formControlName="Deliveryf" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.Deliveryf.errors }" />
                        <div *ngIf="submitted && f.Deliveryf.errors" class="invalid-feedback">
                            <div *ngIf="f.Deliveryf.errors.required">Delivery Frequency  is required</div>
                        </div>
    
                    </div>
                    <div class="col-6 form-group">
                        <label>Delivery Person</label>
                        <input type="text" formControlName="Deliveryp" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.Deliveryp.errors }" />
                        <div *ngIf="submitted && f.Deliveryp.errors" class="invalid-feedback">
                            <div *ngIf="f.Deliveryp.errors.required">Delivery Person is required</div>
                        </div>
    
                    </div>
                    </div>
            </div>
            
            <div class=" modal-footer">
                <button class="btn  Save_re mr-1">Save</button>
                <button class="btn Save_re sav2" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
        </div>
        
      </div>
    </div>
  </div>

                                    <!-- Modal HTML -->
                                    <div id="myModal" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <div class="icon-box">
                                                        <i class="material-icons">&#xE5CD;</i>
                                                    </div>
                                                    <h4 class="modal-title w-100">Are you sure?</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really want to delete these records? This process cannot
                                                        be undone.</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>