<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            
            <div class="d-flex p-1  justify-content-between">
                <h4 class="Darshan_head pt-3">Product</h4>
                <!-- <app-modelopen class="mt-3"></app-modelopen> -->
                <!-- <app-add-meditation></app-add-meditation> -->
                <!-- (click)="openModal()" -->
                <button class="btn  mb-3  mt-2 creat" routerLink="../add-event">Add Product</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="card-body">


                                    <table class="table tab table table-hover">

                                        <thead class="headline">
                                            <tr>
                                                <th class="td-sz" scope="col">S.no.</th>
                                                <th class="td-sz" scope="col">Image</th>
                                                <th class="td-sz" scope="col">Product Name</th>
                                                <th class="td-sz" scope="col">Product Description </th>
                                                <th class="td-sz" scope="col"> Discounted Price</th>
                                                <th class="td-sz" scope="col"> Price</th>
                                                <th class="td-sz" scope="col">Quantity</th>


                                                <th class="justify-content-end" scope="col">Action</th>

                                            </tr>
                                        </thead>


                                        <tbody>
                                            <tr>
                                                <td class="td-sz" scope="col"> 1</td>
                                                <td class="td-sz" scope="col">
                                                    <img src="../../../../assets/images/1.png" class="img-fluid Tab"
                                                        alt="...">
                                                </td>
                                                <td class="td-sz" scope="col">Simple Black Clock</td>
                                                <td class="td-sz File" scope="col"> established fact that a be
                                                    distracted
                                                </td>
                                                <td class="td-sz " scope="col"> $3.00</td>
                                                <td class="td-sz " scope="col">$16.00</td>
                                                <td class="td-sz " scope="col">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>1</option>
                                                        <option>1</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
                                                <td class="td-sz edt">

                                                    <div class="justify-content-between" style="    margin-top: 28%;">

                                                        <a type="button" class="dropbtn" data-toggle="modal"
                                                            data-target="#staticBackdrop" style="margin-right:7px ;">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="#myModal" class="dropbtn mt-2" data-toggle="modal"><i
                                                                class="fa fa-trash-o" aria-hidden="true"></i></a>

                                                    </div>
                                                </td>
                                            </tr>






                                        </tbody>
                                    </table>


                                      <!-- Modal -->
                                      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog p-3">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title Darshan_head" id="staticBackdropLabel">Edit Product
                                            </h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                                                    <div class="row form-row mt-3">
                                                        <div class="col form-group">
                                                            <label>Product Name</label>
                                                            <input type="text" formControlName="fName" placeholder="Event Name"
                                                                class="form-control control_form "
                                                                [ngClass]="{ 'is-invalid': submitted && f.fName.errors }" />
                                                            <div *ngIf="submitted && f.fName.errors" class="invalid-feedback">
                                                                <div *ngIf="f.fName.errors.required">First Name is required</div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="row form-row mt-3">
                                                        <div class="col-md-5">
                                                            <label>Price</label>
                                                            <input type="peice" formControlName="price" class="form-control control_form "
                                                                [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                                                            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                                                <div *ngIf="f.price.errors.required">Last Name is required</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <label>Quantity </label>
                                                            <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                                                <option value="">1</option>
                                                                <option value="Mr">2</option>
                                                                <option value="Mrs">3</option>
                                                                <option value="Miss">4</option>
                                                                <option value="Ms">5</option>
                                                            </select>
                                                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                                                <div *ngIf="f.title.errors.required">Title is required</div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="row form-row mt-3">
                                                        <div class="col">
                                                            <label>Discounted Price</label>
                                                            <input type="discount" formControlName="discount" class="form-control control_form "
                                                                [ngClass]="{ 'is-invalid': submitted && f.discount.errors }" />
                                                            <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
                                                                <div *ngIf="f.discount.errors.required">discount is required</div>
                                                                <div *ngIf="f.discount.errors.discount">Email must be a valid email address</div>
                                                            </div>
                                                        </div>
                                                      
                                                  
                                                    </div>
                                                    <div class="row form-row mt-3">
                                                        <div class="col form-group">
                                                            <label>Product Description</label>
                                                            <input type="text" formControlName="sdescriptio" class="form-control control_form "
                                                                [ngClass]="{ 'is-invalid': submitted && f.sdescriptio.errors }" />
                                                            <div *ngIf="submitted && f.sdescriptio.errors" class="invalid-feedback">
                                                                <div *ngIf="f.sdescriptio.errors.required">First Name is required</div>
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                    
                                                    <div class="row form-row mt-4">
                                                        <div class="col-md-3 ImageAli ">
                                                            <p class="text-center">Images</p>
                                    
                                                           
                                                        </div>
                                                        <div class="col-md-8">
                                                            <label class="new-button new-button2 " for="upload">Choose File</label>
                                                            <input id="upload" type="file" name="filename"> <span class="No_file">No File chosen</span>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                               
                                             
                                                   
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn  Save_re sav2" data-dismiss="modal" routerLink="../event-list">Close</button>
                                              <button type="button" class="btn  Save_re">Save</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    <!-- Modal HTML -->
                                    <div id="myModal" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <div class="icon-box">
                                                        <i class="material-icons">&#xE5CD;</i>
                                                    </div>
                                                    <h4 class="modal-title w-100">Are you sure?</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really want to delete these records? This process cannot
                                                        be undone.</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>