<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card_back p-3 mt-3">
                <h3 class="Darshan_head2 pt-3">User profile</h3>
                <div class=" row ">
                    <div class="col-md-1">
                        <p class="text-center pt-3">User's ID</p>
                    </div>
                    <div class="col-md-3">
                        <span> <img src="../../../../assets/images/icons1.png" class="logo_image1 pt-3"></span>
                    </div>
                </div>
                <form>
                    <div class="row form-row mt-3">
                        <div class=" col-12 col-md-3 form-group">
                            <div class="mrRight">
                                <label> Name</label>
                                <input type="text" formControlName="firstName" class="form-control Control_forn" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-row mt-3">

                        <div class="col-6 col-md-2">
                            <div class="mrRight">
                                <label for="" class="userLabel">Mobile No.</label>
                                <input type="number" formControlName="date" class="form-control Control_forn" />
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-6 col-md-4">
                            <div class="mrRight">
                                <label for="" class="userLabel">Category</label>
                                <div class="select" tabindex="1">
                                    <input class="selectopt input" name="test" type="radio" id="opt3">
                                    <label for="opt3" class="option">Grapefruit</label>
                                    <input class="selectopt input" name="test" type="radio" id="opt4">
                                    <label for="opt4" class="option">Bananas</label>
                                    <input class="selectopt input" name="test" type="radio" id="opt5">
                                    <label for="opt5" class="option ">Watermelon</label>
                                    <svg viewBox="0 0 24 24">
                                    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                  </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row mt-3">
                        <div class="col-6 col-md-4">
                            <div class="mrRight">
                                <label for="" class="userLabel">Email</label>
                                <input type="email" formControlName="date" class="form-control Control_forn" />
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-6 col-md-4">
                            <div class="mrRight">
                                <label for="" class="userLabel">Password</label>
                                <input type="password" formControlName="date" class="form-control Control_forn" />

                            </div>
                        </div>


                    </div>

                    <div class="row form-row mt-3">

                        <div class="col-6 col-md-4">
                            <div class="mrRight">
                                <label for="" class="userLabel">Amount</label>
                                <input type="number" formControlName="date" class="form-control Control_forn" />

                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-6 col-md-4">
                            <div class="mrRight">
                                <label for="" class="userLabel">Subscription</label>
                                <div class="select" tabindex="2">
                                    <input class="selectopt input" name="test" type="radio" id="opt6">
                                    <label for="opt6" class="option">Grapefruit</label>
                                    <input class="selectopt input" name="test" type="radio" id="opt7">
                                    <label for="opt7" class="option">Bananas</label>
                                    <input class="selectopt input" name="test" type="radio" id="opt8">
                                    <label for="opt8" class="option ">Watermelon</label>
                                    <svg viewBox="0 0 24 24">
                                    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                  </svg>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row form-row mt-3">

                        <div class="col-6 col-md-4">
                            <div class="mrRight">
                                <label for="" class="userLabel">Payment Modes</label>
                                <div class="select" tabindex="3">
                                    <input class="selectopt input" name="test" type="radio" id="opt9">
                                    <label for="opt9" class="option">Grapefruit</label>
                                    <input class="selectopt input" name="test" type="radio" id="opt10">
                                    <label for="opt10" class="option">Bananas</label>
                                    <input class="selectopt input" name="test" type="radio" id="opt11">
                                    <label for="opt11" class="option ">Watermelon</label>
                                    <svg viewBox="0 0 24 24">
                                    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                  </svg>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-6 col-md-4">
                            <div class="mrRight">
                                <label for="" class="userLabel">Payment Category</label>
                                <div class="select" tabindex="4">
                                    <input class="selectopt input" name="test" type="radio" id="opt12">
                                    <label for="opt12" class="option">Monthly</label>
                                    <input class="selectopt input" name="test" type="radio" id="opt13">
                                    <label for="opt13" class="option">one-time</label>

                                    <svg viewBox="0 0 24 24">
                                    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                  </svg>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="mrButton">
                        <div class="d-flex justify-content-center saveButton mt-5">
                            <button class="btn  Save_re " routerLink="../user-list"> Cancel</button>
                            <button class="btn  Save_re sav2 ml-3"> Save  </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>