<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">

            <div class="card card_back p-3 mt-3">
                <h5 class="pt-3 pb-4">Users profile </h5>
                <form [formGroup]="UserProfileForm" (ngSubmit)="onSubmit()">
                    <div class="row form-row mt-3">
                        <div class="col form-group">
                            <label>First Name</label>
                            <input type="text" formControlName="fName" placeholder=" First Name"
                                class="form-control control_form "
                                [ngClass]="{ 'is-invalid': submitted && f.fName.errors }" />
                            <div *ngIf="submitted && f.fName.errors" class="invalid-feedback">
                                <div *ngIf="f.fName.errors.required"> First Name is required</div>
                            </div>
                        </div>
                        </div>
                    <div class="row form-row mt-3">
                        <div class="col-md-6 form-group">
                            <label>Last Name </label>
                            <input type="text" formControlName="lName " placeholder="lName "
                                class="form-control control_form "
                                [ngClass]="{ 'is-invalid': submitted && f.lName .errors }" />
                            <div *ngIf="submitted && f.lName .errors" class="invalid-feedback">
                                <div *ngIf="f.lName .errors.required">Last   Name is required</div>
                            </div>
                        </div>
                      
                     
                        <div class="col-md-5 form-group">
                            
                            <label>Contact Number</label>
                            <input type="contactNumber" formControlName="contactNumber" class="form-control control_form "
                                [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }" />
                            <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                            </div>
                        </div>
                  
                    </div>
                    <div class="row form-row mt-3">
                        <div class="col-md-4">
                            <label>Email</label>
                            <input type="email" formControlName="email" class="form-control control_form "
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                       
                        <div class="col-md-4">
                            <label>Status</label>
                            <select formControlName="verificationStatus" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.verificationStatus.errors }">
                                <option value=""></option>
                                <option value="FAILED">FAILED</option>
                                <option value="PENDING">PENDING</option>
                                <option value="Paid">Paid</option>
                               
                            </select>
                            <div *ngIf="submitted && f.verificationStatus.errors" class="invalid-feedback">
                                <div *ngIf="f.verificationStatus.errors.required">Status is required</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row form-row mt-4">
                        <div class="col-md-5 form-group">
                            
                            <label>Cashback Available </label>
                            <input type="text" formControlName="walletCashbackAvailable" class="form-control control_form "
                                [ngClass]="{ 'is-invalid': submitted && f.walletCashbackAvailable.errors }" />
                            <div *ngIf="submitted && f.walletCashbackAvailable.errors" class="invalid-feedback">
                                <div *ngIf="f.walletCashbackAvailable.errors.required">Cashback Available  is required</div>
                            </div>
                        </div>
                        <div class="col-md-5 form-group">
                            
                            <label>Coupon Code</label>
                            <input type="text" formControlName="couponCode" class="form-control control_form "
                                [ngClass]="{ 'is-invalid': submitted && f.couponCode.errors }" />
                            <div *ngIf="submitted && f.couponCode.errors" class="invalid-feedback">
                                <div *ngIf="f.couponCode.errors.required">Coupon Code  is required</div>
                            </div>
                        </div>
                    </div>
                   
                   
               
                    <div class="modal-footer">
                      
                        <button class="btn Save_re sav2" type="reset" routerLink="../user-list">Cancel</button>
                        <button class="btn Save_re mr-1">Save</button>
                    
                    
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
</div>