<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex p-1  justify-content-between">
                <h4 class="Darshan_head pt-3">Event Donation List</h4>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="card-body">
                                    <div class="col-md-2">
                                        <h4 class="Darshan_head2 event  p-2">Event Name Event Date Country
                                        </h4>
                                    </div>
                                    <table class="table tab table table-hover">

                                        <thead class="headline">
                                            <tr>
                                                <th class="" scope="col">S.no.</th>
                                                <th class="" scope="col">User Name</th>
                                                <th class="" scope="col">Request Date/Time </th>
                                                <th class="" scope="col">Mobile Number </th>
                                                <th class="" scope="col">Email</th>
                                                <th class="" scope="col">User Membership</th>
                                                <th class="" scope="col">Donation Type</th>
                                                <th class="" scope="col">Donate amount</th>





                                            </tr>
                                        </thead>


                                        <tbody>
                                            <tr>
                                                <td class="td-sz" scope="col"> 1</td>
                                                <td class="td-sz" scope="col">Name</td>
                                                <td class="td-sz" scope="col">dd/mm/yyyy hh:ss
                                                </td>
                                                <td class="td-sz File" scope="col">1234567890
                                                </td>
                                                <td class="td-sz " scope="col">test@gmail.com</td>
                                                <td class="td-sz " scope="col">Yes</td>
                                                <td class="td-sz" scope="col">Type</td>
                                                <td class="td-sz" scope="col">$10</td>


                                            </tr>

                                            <tr>
                                                <td class="td-sz" scope="col"> 1</td>
                                                <td class="td-sz" scope="col">Name</td>
                                                <td class="td-sz" scope="col">dd/mm/yyyy hh:ss
                                                </td>
                                                <td class="td-sz File" scope="col">1234567890
                                                </td>
                                                <td class="td-sz " scope="col">test@gmail.com</td>
                                                <td class="td-sz " scope="col">Yes</td>
                                                <td class="td-sz" scope="col">Type</td>
                                                <td class="td-sz " scope="col">$10</td>



                                            </tr>
                                            <tr>
                                                <td class="td-sz" scope="col"> 1</td>
                                                <td class="td-sz" scope="col">Name</td>
                                                <td class="td-sz" scope="col">dd/mm/yyyy hh:ss
                                                </td>
                                                <td class="td-sz File" scope="col">1234567890
                                                </td>
                                                <td class="td-sz " scope="col">test@gmail.com</td>
                                                <td class="td-sz " scope="col">No</td>
                                                <td class="td-sz" scope="col">Type</td>
                                                <td class="td-sz " scope="col">$10</td>


                                            </tr>
                                            <tr>
                                                <td class="td-sz" scope="col"> 1</td>
                                                <td class="td-sz" scope="col">Name</td>
                                                <td class="td-sz" scope="col">dd/mm/yyyy hh:ss
                                                </td>
                                                <td class="td-sz File" scope="col">1234567890
                                                </td>
                                                <td class="td-sz " scope="col">test@gmail.com</td>
                                                <td class="td-sz " scope="col">No</td>
                                                <td class="td-sz" scope="col">Type</td>
                                                <td class="td-sz " scope="col">$10</td>



                                            </tr>
                                            <tr>
                                                <td class="td-sz" scope="col"> 1</td>
                                                <td class="td-sz" scope="col">Name</td>
                                                <td class="td-sz" scope="col">dd/mm/yyyy hh:ss
                                                </td>
                                                <td class="td-sz File" scope="col">1234567890
                                                </td>
                                                <td class="td-sz " scope="col">test@gmail.com</td>
                                                <td class="td-sz " scope="col">Yes</td>

                                                <td class="td-sz" scope="col">Type</td>
                                                <td class="td-sz " scope="col">$10</td>


                                            </tr>
                                            <tr>
                                                <td class="td-sz" scope="col"> 1</td>
                                                <td class="td-sz" scope="col">Name</td>
                                                <td class="td-sz" scope="col">dd/mm/yyyy hh:ss
                                                </td>
                                                <td class="td-sz File" scope="col">1234567890
                                                </td>
                                                <td class="td-sz " scope="col">test@gmail.com</td>
                                                <td class="td-sz " scope="col">No</td>

                                                <td class="td-sz" scope="col">Type</td>
                                                <td class="td-sz " scope="col">$10</td>

                                            </tr>
                                        </tbody>
                                    </table>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Basic Alerts end -->
</div>