<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            
            <div class="d-flex p-1  justify-content-between">
                <h4 class="Darshan_head pt-3">  Country Code</h4>
                <!-- <app-modelopen class="mt-3"></app-modelopen> -->
                <!-- <app-add-meditation></app-add-meditation> -->
                <!-- (click)="openModal()" -->
                <!-- <button class="btn  mb-3  mt-2 creat" routerLink="../add-event">Add Product</button> -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="card-body">
                                    <table class="table tab table table-hover">
                                        <thead class="headline">
                                            <tr>
                                                <th class="td-sz" scope="col">Flag</th>
                                                <th class="td-sz" scope="col"> Country</th>
                                                <th class="td-sz" scope="col">Alpha 2 </th>
                                                <th class="td-sz" scope="col">Alpha 3</th>
                                                <th class="td-sz" scope="col">CodeUN Code</th>          
                                                <th class="justify-content-end" scope="col">Action</th>

                                            </tr>
                                        </thead>


                                        <tbody>
                                          
                                            <tr>
                                                <td class="td-sz " scope="col"><i class="fa-solid fa-flag-swallowtail"></i></td>
                                                <td class="td-sz" scope="col">Afghanistan</td>
                                                <td class="td-sz" scope="col">AF</td>
                                                <td class="td-sz" scope="col">AFG</td>
                                                <td class="td-sz" scope="col">004</td>
                                                <td class="td-sz edt">
                                                    <div class="justify-content-between" style="margin-top:8%;">
                                                        <a type="button" class="dropbtn" data-toggle="modal" data-target="#staticBackdrop" style="margin-right:6px ;" >
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                          <a href="#myModal" class="dropbtn mt-2" data-toggle="modal"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        
                                         
                                            
                                         
                                        </tbody>
                                    </table>

                               <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit Country Code
        </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- <form [formGroup]="DeliverEdit" (ngSubmit)="onSubmit()">
                <div class="row form-row mt-3">
                    <div class="col form-group">
                        <label> Country</label>
                        <input type="text" formControlName="Name" placeholder="Event Name"
                            class="form-control control_form "
                            [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                            <div *ngIf="f.Name.errors.required"> Name is required</div>
                        </div>
                    </div>
                    </div>
                <div class="row form-row mt-3">
                    <div class="col-md-6 form-group">
                        <label>Alpha 1</label>
                        <input type="text" formControlName="Alpha1" placeholder="Event Name"
                            class="form-control control_form "
                            [ngClass]="{ 'is-invalid': submitted && f.Alpha1.errors }" />
                        <div *ngIf="submitted && f.Alpha1.errors" class="invalid-feedback">
                            <div *ngIf="f.Alpha1.errors.required">Alpha 1 is required</div>
                        </div>
                    </div>
                  
                 
                    <div class="col-md-5 form-group">
                        
                        <label>Alpha 2</label>
                        <input type="text" formControlName="Alpha2" class="form-control control_form "
                            [ngClass]="{ 'is-invalid': submitted && f.Alpha2.errors }" />
                        <div *ngIf="submitted && f.Alpha2.errors" class="invalid-feedback">
                            <div *ngIf="f.Alpha2.errors.required">Alpha 2 is required</div>
                        </div>
                    </div>
              
                </div>
                <div class="row form-row mt-3">
                    <div class="col-md-4">
                        <label>Price</label>
                        <input type="peice" formControlName="price" class="form-control control_form "
                            [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">Price is required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Order ID</label>
                        <input type="discount" formControlName="OrderID" class="form-control control_form "
                            [ngClass]="{ 'is-invalid': submitted && f.OrderID.errors }" />
                        <div *ngIf="submitted && f.OrderID.errors" class="invalid-feedback">
                            <div *ngIf="f.OrderID.errors.required">Order ID  is required</div>
                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Quantity</label>
                        <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                            <option value="">Paid</option>
                            <option value="Mr">FAILED</option>
                            <option value="Mrs">PENDING</option>
                           
                        </select>
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Quantity is required</div>
                        </div>
                    </div>
                </div>
                
                <div class="row form-row mt-4">
                    <div class="col-md-4 ImageAli">
                        <p class="text-center">Images</p>

                       
                    </div>
                    <div class="col-md-8">
                        <label class="new-button new-button2 " for="upload">Choose File</label>
                        <input id="upload" type="file" name="filename"> <span class="No_file">No File chosen</span>
                    </div>
                </div>
               
               
           
         
                
            </form>  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn  Save_re sav2" data-dismiss="modal" routerLink="../classes-list">Close</button>
          <button type="button" class="btn  Save_re">Save</button>
        </div>
      </div>
    </div>
  </div>

                                    <!-- Modal HTML -->
                                    <div id="myModal" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <div class="icon-box">
                                                        <i class="material-icons">&#xE5CD;</i>
                                                    </div>
                                                    <h4 class="modal-title w-100">Are you sure?</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really want to delete these records? This process cannot
                                                        be undone.</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>