<div class="content-wrapper container-xxl p-0">
	<div class="content-body">
		<!-- content-header component -->
		<!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->

		<!-- Basic Alerts start -->
		<section id="home-page">
			<div class="row">
				<div class="col-12">
					<div>
						<a class="btn btn-primary mb-1" routerLink="/admin/payment-list"
							>Back</a
						>
					</div>
					<div class="card">
						<div class="card-body pb-1">
							<h4 class="mb-1">Detail :</h4>
							<div class="row">
								<table class="table">
									<tbody>
										<tr>
											<td>Tutor name :</td>
											<td>
												<a> tutorName }}</a>
											</td>
										</tr>
										<tr>
											<td>User name :</td>
											<td>
												<a> userName }}</a>
											</td>
										</tr>
										<tr>
											<td>Type :</td>
											<td>
												<a class="btn btn-pur"> type }}</a>
											</td>
										</tr>
										<tr>
											<td>Enroll Type :</td>
											<td>
												<a class="btn btn-gre"> enrollType }}</a>
											</td>
										</tr>
										<tr>
											<td>Subject :</td>
											<td> subject }}</td>
										</tr>
										<tr>
											<td>Code :</td>
											<td> code }}</td>
										</tr>
										<tr>
											<td>Price :</td>
											<td> price }}</td>
										</tr>
										<tr>
											<td>Commission :</td>
											<td>$ commission }}</td>
										</tr>
										<tr>
											<td>Balance :</td>
											<td>$ balance }}</td>
										</tr>
										<tr>
											<td>Create at :</td>
											<td> createdAt | date: "dd/MM/YYYY" }}</td>
										</tr>
										<tr>
											<td>Status :</td>
											<td>
												<a
													class="btn 
														status == 'pending' ? 'btn-red' : 'btn-gre'
													}}"
													> status }}</a
												>
												<!-- btn-gre btn-red -->
											</td>
										</tr>
									</tbody>
								</table>
								<!-- <div class="col-md-7">
                                    <div class="check">
                                        <p>Tutor name :</p>
                                        <p>Chole Decker</p>
                                    </div>
                                    <div class="check">
                                        <p>User name :</p>
                                        <p>No provide</p>
                                    </div>
                                    <div class="check">
                                        <p>Type :</p>
                                        <p>Tamara Osagie </p>
                                    </div>
                                    <div class="check">
                                        <p>Enroll Type :</p>
                                        <p></p>
                                    </div>
                                    <div class="check">
                                        <p>Subject :</p>
                                        <p><a class="btn btn-org">Pending</a> </p>
                                    </div>
                                    <div class="check">
                                        <p>Code :</p>
                                        <p>$90 </p>
                                    </div>
                                    <div class="check">
                                        <p>Price :</p>
                                        <p>$18 </p>
                                    </div>
                                    <div class="check">
                                        <p>Commission :</p>
                                        <p>$72 </p>
                                    </div>
                                    <div class="check">
                                        <p>Balance :</p>
                                        <p>" Sorry - can't join "</p>
                                    </div>
                                    <div class="check">
                                        <p>Create at :</p>
                                        <p>" Sorry - can't join "</p>
                                    </div>
                                    <div class="check">
                                        <p>Status :</p>
                                        <p>" Sorry - can't join "</p>
                                    </div>
                                </div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Basic Alerts end -->
	</div>
</div>
<!-- ----------------------------------------- -->
