<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex p-1  justify-content-between">
                <h4 class="Darshan_head pt-3">Users</h4>
                <button class=" btn mb-3  mt-2  p-2 creat add_class " routerLink="../add-user">Add User </button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="card-body">
                                    <h3 class="Darshan_head2 p-2">Users List</h3>
                                    <table class="table tab table table-hover">
                                        <thead class="headline">
                                            <tr>
                                                <th scope="col">S.no.</th>
                                                <th scope="col">User</th>
                                                <th scope="col"> Mobile No.</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">DOB</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Roshan Chadhokar</td>
                                                <td>+91-9080837589</td>
                                                <td>vaishaliengineermaster@gmaiol.com</td>
                                                <td>DD/MM/YYYY</td>
                                                <td>Registered/PaidUser</td>
                                                <td><a class="btn de-btn " routerLink="../user-profile"> View</a>
                                                    <a class="btn de-btn mt-1 "> Edit</a>
                                                </td>

                                            </tr>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>user1</td>
                                                <td>+00-123</td>
                                                <td>vaishaliengineermaster@gmaiol.com</td>
                                                <td>DD/MM/YY</td>
                                                <td>Registered/PaidUser</td>
                                                <td><a class="btn de-btn ">View</a>
                                                    <a class="btn de-btn mt-1 "> Edit</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>user1</td>
                                                <td>+00-123</td>
                                                <td>vaishaliengineermaster@gmaiol.com</td>
                                                <td>DD/MM/YY</td>
                                                <td>Registered/PaidUser</td>
                                                <td><a class="btn de-btn ">View</a> <a class="btn de-btn mt-1 ">
                                                        Edit</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>user1</td>
                                                <td>+00-123</td>
                                                <td>vaishaliengineermaster@gmaiol.com</td>
                                                <td>DD/MM/YY</td>
                                                <td>Registered/PaidUser</td>
                                                <td><a class="btn de-btn ">View</a> <a class="btn de-btn mt-1 ">
                                                        Edit</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>user1</td>
                                                <td>+00-123</td>
                                                <td>abc@gmaiol.com</td>
                                                <td>DD/MM/YY</td>
                                                <td>Registered/PaidUser</td>
                                                <td><a class="btn de-btn ">View</a> <a class="btn de-btn mt-1 ">
                                                        Edit</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>user1</td>
                                                <td>+00-123</td>
                                                <td>abc@gmaiol.com</td>
                                                <td>DD/MM/YY</td>
                                                <td>Registered/PaidUser</td>
                                                <td><a class="btn de-btn ">View</a> <a class="btn de-btn mt-1 ">
                                                        Edit</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>