.new-button2 {
    margin-top: 7%;
}

.img_text {
    // text-align: center;
    margin-top: 30%;
}

.de-1 {
    padding: 6px 42px;
}

.modalCenter {
    width: 100%;
    max-width: 700px !important;
    margin: 90px auto 0px !important;
}

.cross-btn-data {
  text-align: center !important;
  color:white !important;
  font-weight: 600 !important;
}

.bg-img-norepeat {
    background-repeat: no-repeat !important;
    height: 20em;
    width: 29em;
  }