<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex p-1  justify-content-between">
                <h4 class="Darshan_head pt-3">Donation list</h4>
                <button class="btn  mb-3  mt-2 creat " (click)="openModal()">Add  Donations </button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="card-body">
                                    <h3 class="Darshan_head2 p-2">Donation List</h3>
                                    <table class="table tab table table-hover">
                                        <thead class="headline">
                                            <tr>
                                                <th class="" scope="col">S.no.</th>
                                                <th class="" scope="col">Title</th>
                                                <th class="" scope="col">Short Description </th>
                                                <th class="" scope="col"> Amount</th>
                                                <th class="" scope="col">Image</th>
                                                <th class="" scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of donationListData; let i=index">
                                                <td class="td-sz">{{i+1}}</td>
                                                <td class="td-sz">{{item.title}}</td>
                                                <td class="td-sz">{{item.description}}</td>
                                                <td class="td-sz">${{item.amount}}</td>
                                                <td class="td-sz" scope="col">
                                                    <a class="btn de-btn" style="font-size: 12px; padding: 6px 43px;"
                                                      (click)="showImage(item.image)">Image</a>
                                                  </td>
                                                <td class="td-sz">
                                                    <a class="btn de-btn" (click)="editDarshanTime(item._id)">View/Edit</a>
                                                    <a class="btn de-btn de-1" (click)="openDeleteConfirm(item._id)">Delete</a>
                                                </td>
                                            </tr>
                                   
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-----------------------------Open Model---------------------------->
<!-- <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-dialog modal-lg p-1 modalCenter" role="document">
        <div class="modal-content ">
            <div class="modal-header head  Header-Model   ">
                <h4 class="modal-title  tittle_Model  title-model ">{{isUpdate ? 'Edit': 'Add'}} donation category</h4>
            </div>
            <form [formGroup]="donationForm" (ngSubmit)="onSubmit()" class=" Content_model">
                <div class="modal-body">
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <p class="para_lable">Title</p>
                        </div>
                        <div class="col-md-10">
                            <input type="text" formControlName="title" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors.required">Title is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <p class="para_lable Des">Description</p>
                        </div>
                        <div class="col-md-10">
                            <textarea id="story" name="story" class="Str" rows="5" cols="120" formControlName="description" class="form-control control_form  Long_description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Description is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2 form-group">
                            <p class="para_lable Des">Amount</p>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="number" formControlName="amount" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                <div *ngIf="f.amount.errors.required">Amount is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer Footer_Model">
                    <button type="button" class="btn btn-default Model_btton mr-3" (click)="onCloseHandled()">Close</button>
                    <button class="btn Model_btton mr-1">{{isUpdate ? 'Update': 'Save'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: deletePopup }">
    <div class="modal-dialog modal-sm modalCenter" role="document">
      <div class="modal-content">
        <div class="modal-header head transparent-background">
          <h3 class="modal-title title-model cross-btn-data text-dark" (click)="deleteConfirmClose()">X</h3>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <h4>
              Are you sure want to delete ?
            </h4>
            <h6>
              Note: All data will deleted
            </h6>
          </div>
        </div>
        <div class="modal-footer border border-white">
          <div class="row justify-content-between">
            <div class="col-6">
              <button class="btn  mb-3  mt-2 creat" (click)="deleteConfirmClose()">Cancel</button>
            </div>
            <div class="col-6">
              <button class="btn  mb-3  mt-2 creat" (click)="deleteDarshanTiming()">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: imagedisplay }">
    <div class="modal-dialog modal-md modalCenter" role="document">
      <div class="modal-content">
        <div class="modal-header head transparent-background p-4">

          <h5 class="modal-title" id="exampleModalLabel">
            Preview
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeImage()">
            <span aria-hidden="true">
              x
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <img class="bg-img-norepeat" src="{{imageUrl}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->