<div class="content-wrapper">
  <section class="content">
      <div class="container-fluid">
          <div class="d-flex p-1  justify-content-between">
              <h4 class="Darshan_head pt-3">Catering Order Payment Status
              </h4>


          </div>

          <div class="row">
              <div>
                  <div class="  Cark-back back-2 p-2">
                      <div class="">
                          <h3 class="Darshan_head2 p-2">Catering Order Payment Status List</h3>
                      </div>
                  </div>
              </div>

          </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body p-0">
                          <div class="table-responsive">
                              <div class="card-body">

                                  <table class="table tab table table-hover">

                                      <thead class="headline">
                                          <tr>
                                              <th class="td-sz" scope="col">S.no.</th>
                                              <th class="td-sz" scope="col"> User name</th>
                                              <th class="td-sz" scope="col">Date & Time</th>

                                              <th class="td-sz" scope="col">No. of people
                                              </th>
                                              <th class="td-sz" scope="col"> Special Request
                                              </th>
                                              <th class="td-sz" scope="col">Total Payment</th>
                                              <th class="td-sz" scope="col">Menu item</th>

                                              <th class="td-sz" scope="col">Payment status
                                              </th>


                                          </tr>
                                      </thead>


                                      <tbody>
                                          <tr>
                                              <td class="td-sz" scope="col">1</td>

                                              <td class="td-sz" scope="col">type1</td>
                                              <td class="td-sz" scope="col">25-10- 2021 (6AM)
                                              </td>

                                              <td class="td-sz" scope="col">100</td>
                                              <td class="td-sz" scope="col">ABC</td>
                                              <td class="td-sz" scope="col">$30</td>

                                              <td class="td-sz" scope="col"><a class="btn View_list">View list</a></td>


                                              <td class="td-sz" scope="col"> Pending</td>


                                          </tr>

                                          <!-- <app-meditation-list></app-meditation-list> -->


                                      </tbody>
                                  </table>


                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


</div>