<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex p-1  justify-content-between">
                <h4 class="Darshan_head pt-3">Add Subscripton</h4>
            </div>
            <div class="card card_back p-3">
                <form [formGroup]="monthlyForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label>Milk</label>
                            <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                <option value=""></option>
                                <option value="Mr">A1</option>
                                <option value="Mrs">A2</option>
                               
                            </select>
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors.required">Title is required</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-6">
                            <label>Invoice</label>
                            <input type="text" formControlName="Invoice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Invoice.errors }" />
                            <div *ngIf="submitted && f.Invoice.errors" class="invalid-feedback">
                                <div *ngIf="f.Invoice.errors.required">Invoice is required</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Phone No.</label>
                            <input type="text" formControlName="Phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" />
                            <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                                <div *ngIf="f.Phone.errors.required">Phone is required</div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Email</label>
                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Address</label>
                            <input type="text" formControlName="Address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" />
                            <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                                <div *ngIf="f.Address.errors.required">Address is required</div>
                               
                            </div>
                        </div>
                        <div class="row form-row mt-5">
                            <div class="col-6 form-group">
                                <label>Delivery Frequency</label>
                                <input type="text" formControlName="Deliveryf" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.Deliveryf.errors }" />
                                <div *ngIf="submitted && f.Deliveryf.errors" class="invalid-feedback">
                                    <div *ngIf="f.Deliveryf.errors.required">Delivery Frequency  is required</div>
                                </div>
            
                            </div>
                            <div class="col-6 form-group">
                                <label>Delivery Person</label>
                                <input type="text" formControlName="Deliveryp" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.Deliveryp.errors }" />
                                <div *ngIf="submitted && f.Deliveryp.errors" class="invalid-feedback">
                                    <div *ngIf="f.Deliveryp.errors.required">Delivery Person is required</div>
                                </div>
            
                            </div>
                            </div>
                    </div>
                    
                    <div class=" modal-footer">
                       
                        <button class="btn Save_re sav2" type="reset"  routerLink="../month-subscription">Cancel</button>
                        <button class="btn  Save_re mr-1">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </section>
</div>
