<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div fxLayout="row" fxLayoutAlign="space-around left">
                <div fxFlex>
        
                    <ul class="breadcrumb">
                        <li><a routerLink="/dashboard">Dashboard</a></li>
                        <li>Companies</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">

                        <div class="card-body">
                          <h2>350</h2>
                          <p  class="card-title text-primary">Support Requests</p>
                          <p class="card-text">Total number of support requests that come in.</p>
                          <div style="width:100%;">
                            <canvas id="myChart" width="800" height="250" #mychart></canvas>
                         </div>
                        </div>
                        <div class="fot_number">
                            <div class="d-flex justify-content-around ">
                                 <h5>10</h5>
                                 <h5>3</h5>
                                 <h5>8</h5>
                            </div>
                            <div class="d-flex justify-content-around ">
                                <h5>Open</h5>
                                <h5>Running</h5>
                                <h5>Solved</h5>
                           </div>
                        </div>
                      </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="card">
                       
                        <div class="card-body">
                          <h2>350</h2>
                          <p  class="card-title text-primary">Support Requests</p>
                          <p class="card-text">Total number of support requests that come in.</p>
                     
                        </div>
                        <div class="fot_number">
                        <div class="d-flex justify-content-around ">
                             <h5>10</h5>
                             <h5>3</h5>
                             <h5>8</h5>
                        </div>
                        <div class="d-flex justify-content-around ">
                            <h5>Open</h5>
                            <h5>Running</h5>
                            <h5>Solved</h5>
                       </div>
                    </div>
                      </div>
                    
                </div>
           
                <div class="col-12 col-sm-6 col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                          <h2 >350</h2>
                          <span class="info-box-icon"><i class="bi bi-reception-3"></i></span>
                        </div>
                          <p class="card-text">Support Requests</p>
                          <div>
                          </div>
                        </div>
                        <div class="Footer text-center px-1">
                            <p class="mt-2">% change</p>
                            <i class="bi bi-graph-up-arrow mt-2"></i>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                          <h2 >350</h2>
                          <span class="info-box-icon"><i class="bi bi-reception-3"></i></span>
                        </div>
                          <p class="card-text">Support Requests</p>
                          <div>
                          </div>
                        </div>
                        <div class="Footer text-center px-1">
                            <p class="mt-2">% change</p>
                            <i class="bi bi-graph-up-arrow mt-2"></i>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                          <h2 >350</h2>
                          <span class="info-box-icon"><i class="bi bi-reception-3"></i></span>
                        </div>
                          <p class="card-text">Support Requests</p>
                          <div>
                          </div>
                        </div>
                        <div class="Footer text-center px-1">
                            <p class="mt-2">% change</p>
                            <i class="bi bi-graph-up-arrow mt-2"></i>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                          <h2 >350</h2>
                          <span class="info-box-icon"><i class="bi bi-reception-3"></i></span>
                        </div>
                          <p class="card-text">Support Requests</p>
                          <div>
                          </div>
                        </div>
                        <div class="Footer text-center px-1">
                            <p class="mt-2">% change</p>
                            <i class="bi bi-graph-up-arrow mt-2"></i>
                        </div>
                      </div>
                </div>
            </div>
           
          
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h2 class="card-title">Projects</h2>
                            <div class="card-tools px-2">
                                <i class="bi bi-three-dots"></i>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead class="headline">
                                        <tr>
                                            <th class="" scope="col">S.no.</th>
                                            <th class="" scope="col">Donation By</th>
                                           
                                            <th class="" scope="col"> Date</th>
                                            <th class="" scope="col" routerLin>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Latest Updates</h3>
                            <div class="card-tools px-2">
                                <i class="bi bi-three-dots"></i>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead class="headline">
                                        <tr>
                                            <th class="" scope="col">S.no.</th>
                                            <th class="" scope="col">Donation By</th>
                                            <th class="" scope="col"> Date</th>
                                            <th class="" scope="col" routerLin>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>User</td>
                                            
                                            <td>dd/mm/yy</td>
                                            <td>$10</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    

        </div>
    </section>
</div>




<!---------------Model Open------------------------------->


<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-lg p-2 modalCenter" role="document">
        <div class="modal-content">
            <div class="modal-header head">
                <h3 class="modal-title  title-model">User Detail</h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <p class="text-center ">Name</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text" formControlName="firstName" placeholder="User  Name" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <p class="text-center ">Mobile No.</p>
                            </div>
                            <div class="col-md-4">
                                <input type="" formControlName="Mobile" placeholder="Mobile Number" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }" />
                                <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.Mobile.errors.required">Mobile No. is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <p class="text-center">Email Address</p>
                            </div>
                            <div class="col-md-4">
                                <input type="email" formControlName="email" class="form-control control_form" placeholder="Email " [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <p class="text-center ">Country</p>
                            </div>
                            <div class="col-md-4">
                                <input type="" formControlName="firstName" placeholder="Country" class="form-control control_form" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">Country Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="Footer_model footer mb-3 col-md-7 ">
                        <div class="d-flex justify-content-end mb-5">
                            <button type="button" class="btn btn-default Model_btton  Save-res" (click)="onCloseHandled()">Close</button>
                            <button class="btn Save-res Model_btton ml-3">Save</button>

                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->



<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalCenter modal-lg p-2">
        <div class="modal-content">
            <div class="modal-body justify-content-center">
                <p class="text-center pt-5">Do you want to approve this user Request</p>
            </div>
            <div class="modal-footer  Footer_Model justify-content-center ">
                <button type="button" class="btn Model_btton">Yes</button>
                <button type="button" class="btn Model_btton" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div> -->