/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "~ngx-chart/styles.scss";

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
//---------------
th.th-sz {
    padding: 10px 15px;
    color: #000000;
}

input.enter-name {
    padding: 5px 9px;
    width: 100%;
}

// a.y-btn {
//     background: #06d79c;
//     padding: 3px 4px;
//     color: #ffff;
//     font-size: 12px;
// }
// a.n-btn {
//     background: #ffb22b;
//     color: #fff;
//     padding: 2px 4px;
//     font-size: 12px;
// }
a.de-btn {
    padding: 9px 35px;
    text-decoration: none;

    background: #28D094;
    color: #ffff;
    font-size: 11px;
    box-shadow: 0px 10px 18px rgba(62, 57, 107, 0.2);
    border-radius: 21px;
    font-weight: 600;
}

a.de-btn:hover {
    color: #fff;
}


.header_Modal{
    background-color: #21AD4B;
    color: #fff;
}

.text-bold-label {
  font-weight: 400 !important;
}

.pointer-cursor {
   cursor:pointer
}

a.ac-btn {
    padding: 6px 12px;
    background: #597393;
    color: #ffff;
    font-size: 12px;
    margin-right: 13%;
}

td.td-sz {
    padding: 25px 14px;
    color: #000000;
}

td.th-sz {
    padding: 30px 14px;
    border-bottom: none !important;
}

a.page-link:hover {
    background: #745af2;
    color: #fff !important;
}

select.slect-email {
    width: 100% !important;
    height: 38px;
    border-color: #c0c0c087;
    border-radius: 5px;
}

.opacity-select {
   opacity:0.5
}

select.slect-rating {
    height: 38px;
    border-color: #c0c0c087;
    border-radius: 5px;
    width: 74%;
}

// a.pend-btn {
//     background: #fff8ec;
//     padding: 4px 5px;
//     color: #ffb22b;
//     font-size: 11px;
// }
a.app-btn {
    background: #f1effd;
    padding: 4px 5px;
    font-size: 11px;
    color: #745af2;
}

.headline {
    color: #000000;
    
    font-weight: 100;
    text-align: center;
    font-family: system-ui;
}

.de-1 {
    // margin-left: %;
    background-color: #FF1635 !important;
    
    margin-left: 20px;

}

.Darshan_head {
    color: #FCAA2D;
    font-size: 21px;
    font-style: ' Merriweather Sans';
    font-weight: 700;
    line-height: 32.37px;
    letter-spacing: 1px;
}

.Darshan_head2 {
    color: #464855;
    font-style: 'Merriweather Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 18.82px;
    letter-spacing: 0.7px;
}

.Cark-back {
    box-shadow: 0px 1px 15px rgba(62, 57, 107, 0.07);
    border-radius: 4.9px;
    border: none;
}

// .creat {
//     background: #597393;
// }
.creat:hover {
    color: #fff;
}

tbody tr {
    text-align: center;
}

.table> :not(:first-child) {
    border-top: 1px solid currentColor !important;
}

.Add_meditaition {
    border: none;
    color: #fff;
    background-color: #597393;
    padding: 7px 18px;
    border-radius: 7px;
}

.Save_re {
    padding: 0.5rem 2rem;
    border-radius: 10rem;
    color: #ffff;
    font-weight: 500;
    margin-top: 6px;
    background-color: #FCAA2D;
}

.Save_re:hover {
    color: #ffff;
}

//------------------modale------------------
.creat {
    background: #FCAA2D;
    //padding: 5% 19%;
    color: #ffff;
    font-size: 14px;
}

.head {
    background-color: #0D7195;
    border: none;
    padding: 2% 0%;
}

.title-model {
    color: #ffff;
    padding: 13px 13px 1px 45px;
    font-style: 'Merriweather Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 18.82px;
    letter-spacing: 0.7px;
}

option:active {
    background-color: #597393;
}

.Border_Input {
    border-radius: 10px
}

.Head_mar {
    margin-top: 8%;
}

// .Start_end {
//     background: #CACFE7;
//     text-align: center;
//     color: #ADBCCE;
//     border-radius: 6px;
// }
.Footer_Model {
    border: none;
    margin-top: 10%;
}

.Model_btton {
    border: 1px solid #6B6F82;
    border-radius: 5px;
    padding: 12px 23px;
}

.Model_btton:hover {
    background-color: #0D7195;
    color: #ffff;
}

.Save-res:hover {
    background-color: #0D7195;
    color: #ffff;
}

.input_date input {
    border: 1px solid #CACFE7;
    border-radius: 3px;
    margin-left: 10px;
    /* width: 92%; */
    padding: 7% 4%;
}

.Row_sater {
    margin-top: 10%;
}

.File_chosse {
    margin-top: 7%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 0px;
    font-size: 15px;
    color: rgb(153, 153, 153);
}

.button-wrap {
    position: relative;
}

.new-button {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #C4C4C4;
    font-size: 16px;
    font-weight: 100;
    color: #6B6F82;
    // margin-top: 3%;
}

// .new-button2 {
//     margin-top: 7%;
// }

.No_file {
    padding-left: 7%;
    color: #2B335E;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 200;
}

.para_lable {
    color: #2B335E;
}

.control_form {
    border: 1px solid #DDEAF3;
}

.back-2 {
    margin-bottom: 1%;
    background-color: #ffff;
    padding: 0.1rem 4rem;
    border-radius: 2px !important;
}

//---------------------cls----------------------//
.dropbtn {
    background: #FCAA2D;
    color: white;
    padding: 12px;
   
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

// /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

// /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

// /* Links inside the dropdown */
.dropdown-content a {
    color: #6B6F82;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

// /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

// /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

// /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FCAA2D;
}

//--------------
.form-control::-webkit-input-placeholder {
    color: #ADBCCE;
}

.sidebar-mini.sidebar-collapse .sidebar .nav-sidebar .nav-link p {
    // width: 100% !important;
    // white-space: initial !important;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

// .creat {
//     background: #445C8F;
//     color: #ffff;
//     font-size: 14px;
//     width: 116px;
//     height: 40px;
// }
//----------date-time----------------
input[type=date].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control,
input[type=time].form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ADBCCE;
}

.transparent-bg{
  background: transparent;
}

.text-color-light {
  color: #6B6F82 !important;
}

.dotted-text-longtext {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden ! important;
  text-overflow: ellipsis;
  width: -3em;
  min-height: 5.3em;
  border:none;
}

@media screen and (max-width: 1230px) {
    .de-1 {
        margin: 4% 4%;
    }
}

//-----------------------droup-------------------
