.img_file {
    margin-top: 15%;
}

.Save_re {
    padding: 0.5rem 2rem;
    border-radius: 10rem;
    color: #ffff;
    font-weight: 500;
    background-color: #445C8F;
}

.long {
    margin-top: -12%;
}

.sav2 {
    padding: 0.6rem 2.6rem;
}